{% extends 'core/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'core/css/estilos_procesos.css' %}">
<title>paginas en proceso</title>

{% endblock %}

{% block contenido %}

<div class="contenido">
    <h1>
        PAGINA EN PROCESO...
    </h1>

    <div class="herramienta">
        <img src="{% static 'core//imagenes/proceso.png.png' %}" alt="img de herramienta">
    </div>
</div>

<div class="contenido-carrusel">
    <div>
        <h3>Ultimos titulos:</h3>
    </div>
    <section class="carrusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'pelicula_padrino' %}">
                        <img class="d-block" src="{% static 'core/imagenes/el padrino.jpg' %}" alt="#">
                    </a>
                    <div class="carousel-caption d-none d-md-block" id="">
                        <h5> EL PADRINO </h5>
                        <p>La historia mas famosa de la mafia de italiana</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'pelicula_mulan' %}">
                        <img class="d-block" src="{% static 'core/imagenes/mulan.jpg' %}" alt="#">
                    </a>
                    <div class="carousel-caption d-none d-md-block" id="">
                        <h5> Mulan</h5>
                        <p>La historia de la guerrera que protege su honor </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'pelicula_arde' %}">
                        <img class="d-block" src="{% static 'core/imagenes/lo_que_arde.jpeg' %}" alt="#">
                    </a>
                    <div class="carousel-caption d-none d-md-block" id="">
                        <h5> LO QUE ARDE</h5>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{% endblock %}