{% extends 'core/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
<title>PELICULA</title>

{% endblock %}


{% block contenido %}
<div class="contenido">

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/2.8.jpeg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/2.9.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.0.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.1.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.2.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.3.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.4.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.5.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.6.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.7.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.8.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/3.9.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/4.0.jpg' %}" class="caratula">
        </a>
    </div>

    <div class="cont-img">
        <a href="{% url 'paginasinproces' %}">
            <img src="{% static 'core/imagenes/4.1.jpg' %}" class="caratula">
        </a>
    </div>

</div>
{% endblock %}